---
import "../styles/article-list.css";

import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import Layout from "../layouts/Layout.astro";
import { openGraph } from "spectre:globals";

const projects = await getCollection("projects");
---

<Layout
  title={openGraph.projects.title || "Projects"}
  description={openGraph.projects.description}
  pagefindIgnore
>
  <div class="layout-grid-left" slot="left">
    <Card class="flex-col-card">
      <h2 class="no-mt">Civic Projects</h2>
    </Card>
  </div>
</Layout>
